<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>1of2from30</title>
</head>
<body>
<div class="jumbotron" id="header">
<main>
<h3><%= title %></h3>
<h3><%= description %></h3>
</main>
</div>
<br>
<div class="jumbotron" id="header">
<h4><%= instructions %></h4>
<hr>
<main>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q1"> <%= q1 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q2"> <%= q2 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q3"> <%= q3 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q4"> <%= q4 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q5"> <%= q5 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q6"> <%= q6 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q7"> <%= q7 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q8"> <%= q8 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q9"> <%= q9 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q10"> <%= q10 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q11"> <%= q11 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q12"> <%= q12 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q13"> <%= q13 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q14"> <%= q14 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q15"> <%= q15 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q16"> <%= q16 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q17"> <%= q17 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q18"> <%= q18 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q19"> <%= q19 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q20"> <%= q20 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q21"> <%= q21 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q22"> <%= q22 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q23"> <%= q23 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q24"> <%= q24 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q25"> <%= q25 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q26"> <%= q26 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q27"> <%= q27 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q28"> <%= q28 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q29"> <%= q29 %></h3>
    </div>
    <div class="checkbox">
        <h3><input name="answer" type="checkbox" value="q30"> <%= q30 %></h3>
    </div>
    <hr>
    <form action="/submit" method="post" enctype="multipart/form-data">
    <input class="btn btn-primary" name="submit" type="submit" value="Submit"/>
    </form>
</main>
</div>
</body>
</html>